<header id='header_div'> 
    <h1 class="header_title blog_title"> Phosphophyllite </h1>
    <a class="header_choice" href="javascript:void(0);" onclick="Page.home()">首页</a>
    <a class="header_choice" href="javascript:void(0);" onclick="Page.admin()">管理</a>
</header>
<div id='header_space'></div>

<nav id='nav_div'> 
    
</nav>

<aside id='aside_div'>
    <div>
        <img id="avatar" onerror="imageLoadError(this)" src=''/>
    </div>
    <h1 id="name" class="blog_title"> Phosphophyllite </h1>
    <table id="statistics">
        <tr><td class="statistic">运行时间 : </td><td class="value running_days"> 0 </td> <td>天</td></tr>
        <tr><td class="statistic">总访问量 : </td><td class="value visiting_count"> 0 </td> <td>次</td></tr>
        <tr><td class="statistic">文章总数 : </td><td class="value artcile_count"> 0 </td> <td>篇</td></tr>
        <tr><td class="statistic">留言总数 : </td><td class="value message_count"> 0 </td> <td>条</td></tr>
    </table>

    <hr/>
    <div>
        <p class="subtitle">最近文章 <a href="javascript:void(0);" onclick="">更多</a> </p>
        <div class='recent_article'>
            
        </div>
    </div>
    
    <hr/>
    <div>
        <p class="subtitle">最近留言 <a href="javascript:void(0);" onclick="Page.messageBoard()">更多</a> </p>
        <div class='recent_message'>
            
        </div>
    </div>
    <textarea id="message_content" class="editor mini_editor" spellcheck="false" placeholder="给我留言(支持Markdown)"></textarea>
    <div class="combo_box">
        <input id="message_name" type="text" class="line_editor big_name" placeholder="你的名字" autocomplete="off"/>
        <input type="button" id="message_commit" class="commit" value="提交" onclick="MessageInterface.save(true, false)"/>
    </div>
</aside>

<article id='article_div'> 
    <h1 class='article_title'></h1>
    <p>
        日期 : <span class='article_date'></span>
        阅读量 : <span class='article_reading'></span>
    </p>
    <hr/>
    <div class='article_content'>

    </div>
</article>

<footer> 
    <hr/>
        <center>Powered by <a href='https://github.com/hubenchang0515/Phosphophyllite'>Phosphophyllite</a></center>
    <hr/>
</footer>

