/* Phosphophyllite
 * 2018-12-06
 * MIT LICENSE
 */

body {
	width: 92%;
	margin: auto;
}

/* nav和atcile在同一行 */
nav {
	float: left;
	width: 20%;
}

article {
	float: left;
	margin-left: 5%;
	width: 70%;
}

/* 清除float */
footer {
	padding-top: 30px; 
	clear: both;
}


 /* 标题和前面空一定的距离 */
h1, h2, h3, h4, h5, h6 {
	padding-top: 15px;
	padding-bottom: 5px;
}

/* 段落开头空2格 */
p {
	text-indent: 2em;
}
	
/* 让li标签能够显示圆点 */
ol, ul {
	margin-left: 60px; 
}

/* 代码块显示浅灰色圆角矩形底色 */
pre {
	background-color: #ddd;
	border-radius: 15px;
	margin: 15px;
	padding: 15px;
}

/* 行内代码视觉增强 */
code {
	color: aqua;
	background-color: gray;
	padding: 3px;
	margin: 0 2px;
	border-radius: 5px;
}

/* 链接显示为深绿色 */
a {
	color: darkgreen;
	font-weight: bold;
}

a:hover {
	color: white;
	background-color: aqua;
	font-weight: bold;
}

/* 头像显示为圆形 */
#photo {
	width: 200px;
	height: 200px;
	display: block;
	margin: 20px auto;
	border-radius: 50%;
	border: 1px solid rgb(221,240,237);
	background-color: aquamarine;
}
  
  
/* 名字 */
#name {
	text-align:center;
}

/* 统计数据块 */
#statistics {
	color: gray;
	width: auto;
	margin: 0 auto;	
}


/* 统计数据 */
.statistic {
	color: gray;
	/* font-weight: bold; */
	text-align:center;
	text-indent: 0;
}

/* 统计数据值 */
#statistics .value {
	color: salmon;
	font-weight: bold;
	text-align: right;
	padding: 0 3px;
	border-radius: 100px;
}

/* 小标题 */
.subtitle {
	font-weight: bold;
}

/* 小标题后面跟的链接 */
.subtitle > a {
	float: right;
	color: salmon;
	font-weight: normal;
	margin-right: 2em;
}

.subtitle > a:hover {
	color: salmon;
	background-color: unset;
}