#article_content {
    resize: both;
    min-width: 100%;
    max-width: 100%;
    min-height: 60em;
}

.editor {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    border: 1px dodgerblue solid;
    border-radius: 10px;
    resize: none;
    width: 100%;
    padding: 5px 1em;
    outline: none;
}

.big_editor {
    height: 30em;
}

.mini_editor {
    height: 8em;
}

.combo_box {
    width: 100%;
}

.line_editor {
    width: 80%;
    border: 1px dodgerblue solid;
    padding: 0 1em;
    border-radius: 20px;
    outline: none;
}

.commit {
    width: 18%;
    color: white;
    background-color: royalblue; 
    border: 1px #2e6da4 solid;
    border-radius: 5px;
    outline: none;
    float: right;
}

.commit:hover {
    color: white;
    background-color: rgb(38, 86, 230);
    cursor: pointer;
}

.commit:active {
    color: white;
    background-color: rgb(12, 36, 109);
    cursor: pointer;
}

